h1{
    color: greenyellow;
    text-shadow: 1px 1px 1px;
    text-decoration-line: underline;
    background-color: black;
}
body{
    background-image: url(blue.jpg);
}
h2{
    color: yellow;
}
h3{
    color: red;
    text-align: center;
}
form{border: 60px;
    text-shadow: 1px 1px 1px;
    text-align: center;
    color: orangered;
    border-radius: 35px;


}
button{
    text-decoration: double;
    text-shadow: 2px 2px 2px;
    box-shadow: 1px 1px 1px;
    background-color: blue;
    border: 10px red double;
}
span{
    color: pink;
}
